<div class="container mt-5">
  <h3 class="text-center">
    Contact List
  </h3>
  <div class="pull-left">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control mb-1" [(ngModel)]="queryString" placeholder="Search By">
      </div>

    </div>
  </div>
  <div class="pull-right">


      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary btn-md" (click)="addContact()">Add Contact <i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>

      </div>
  </div>
  <div class="contacts-table mt-3">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="pagination-row">
          <td colspan="3">   
            <pagination-template #p="paginationApi" (pageChange)="page = $event">          
              <nav aria-label="Pagination" class="usa-pagination">
                <ul class="usa-pagination__list">
                  <li class="usa-pagination__item usa-pagination__arrow" *ngIf="!p.isFirstPage()" 
                  [class.disabled]="p.isFirstPage()" (click)="p.previous()">
                    <a
                      href="javascript:void(0);"
                      class="usa-pagination__link usa-pagination__previous-page"
                      aria-label="Previous page"
                    >
                      <svg class="usa-icon" aria-hidden="true" role="img">
                        <use xlink:href="/assets/img/sprite.svg#navigate_before"></use>
                      </svg>
              
                      <span class="usa-pagination__link-text"> Previous </span>
                    </a>
                  </li>
              
                  <li class="usa-pagination__item usa-pagination__page-no"  *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                    <a
                      href="javascript:void(0);"
                      class="usa-pagination__button"
                      aria-label="Page 1"
                      (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value"
                    >
                      {{page.label}}
                    </a>
                    <a
                      href="javascript:void(0);"
                      class="usa-pagination__button usa-current"
                      aria-label="Page 1" *ngIf="p.getCurrent() === page.value"
                    >
                      {{page.label}}
                    </a>
                  </li>
                  <li class="usa-pagination__item usa-pagination__arrow"  [class.disabled]="p.isLastPage()">
                    <a
                      href="javascript:void(0);"
                      class="usa-pagination__link usa-pagination__next-page"
                      aria-label="Next page"
                      *ngIf="!p.isLastPage()" (click)="p.next()"
                    >
                      <span class="usa-pagination__link-text"> Next </span>
              
                      <svg class="usa-icon" aria-hidden="true" role="img">
                        <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </nav>
           </pagination-template>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngFor="let cont of (contacts) | paginate: { itemsPerPage: noOfRows, currentPage: page } | contact: queryString; let i=index">
          <td>{{cont.first_name}}</td>
          <td>{{cont.last_name}}</td>
          <td>{{cont.email}}</td>
          <td>{{cont.phone_number}}</td>
          <td>{{cont.status}}</td>
          <td>
            <span>
              <button type="button" class="btn btn-outline-dark btn-sm custom-round" (click)="editContact(cont, i)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </span>
            <span class="ml-1">
              <button type="button" class="btn btn-outline-danger btn-sm custom-round" (click)="storeContactIndex(i)" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
        <button type="button" class="close" (click)="removeDeletionIndex()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="removeDeletionIndex()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteContact()" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

